<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>支付二维码</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/jquery.qrcode.js}" ></script>
    <script type="text/javascript" th:src="@{/js/qrcode.js}" ></script>
</head>
<style>
    body {text-align: center}
    table {margin: auto}
</style>

<body>
<table>
    <tr>
        <td>
            <div id="qrcodeCanvas"></div>
        </td>

    </tr>
    <tr>
        <td>
            TRC20-USDT
        </td>
    </tr>
    <tr>
        <td>
           地址:<span th:text="${address}" id="address"></span>
        </td>
    </tr>

    <tr>
        <td>
           金额:<span th:text="${amount}"></span>
        </td>
    </tr>
</table>
<script>
    var qrtext = $("#address").text();
    $('#qrcodeCanvas').qrcode({
        text: qrtext
    });
</script>
</body>
</html>